@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');
body{
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
    height: 100vh;
}
.container{
    background-color: #ff3939;
    /*padding: 0 80px 0 80px;*/
    border-radius: 12px;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.grid{
    display: grid;
    background:rgba(182, 182, 182, 0.897);
    gap: 1px;
    padding: 0;
    width: 640px;
    height: 640px;
    cursor: crosshair;
}
.square{
    background: rgb(204, 204, 204);
}
.title{
    font-family: 'Qwigley', cursive;
    height: 72px;
    width: 800px;
    padding-top: 8px;
    font-size: 80px;
    font-weight: 900;
    color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.controls{
    height: 80px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.controls-text{
    margin: 0 6px;
    color: #e0e0e0b5;
    font-size: 18px;
}
.controls-color{
    width: 200px;
    display: flex;
    align-items: center;
    margin-left: 8px;
}
.color-picker{
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 100%;
    border: 6px solid rgb(247, 247, 247);
}

input[type="color"]{
    width: 100%;
    height: 100%;
    transform: scale(1.5);
}
.erase > button{
    border: none;
    background-color: inherit;
    color: gold;
    font-size: 32px;
    color: #e0e0e0b5;
}
.grid-picker{
    width: 200px;
    display: flex;
    align-items: center;
    margin-right: 8px;
}
.grid-value{
    width: 50px;
    height: 50px;
    border: 6px solid rgb(247, 247, 247);
    background-color: rgb(247, 247, 247);

}