@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');
body{
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
    height: 100vh;
}
.container{
    background-color: #ff3939;
    /*padding: 0 80px 0 80px;*/
    border-radius: 12px;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.grid{
    display: grid;
    background:rgba(182, 182, 182, 0.897);
    gap: 1px;
    padding: 0;
    width: 640px;
    height: 640px;
    cursor: crosshair;
}
.square{
    background: rgb(204, 204, 204);
}
.title{
    font-family: 'Qwigley', cursive;
    height: 72px;
    width: 800px;
    padding-top: 8px;
    font-size: 80px;
    font-weight: 900;
    color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.controls{
    height: 80px;
    width: 800px;
}
